<% content_for :google_candlesticks_scripts do %>
  <%#= javascript_include_tag "https://www.gstatic.com/charts/loader.js.js" %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <%= javascript_include_tag "candlesticks.js" %>
<% end %>
  
<h1>WEX Candlesticks Chart</h1>
<div id="chart_div"></div>

